registry=http://npmjs.teld.org/
# registry=https://tfs.teld.cn/tfs/DCCS/_packaging/npm-teld/npm/registry/
# always-auth=true

# ; 将此身份验证令牌视为密码。不要与任何人共享，包括 Microsoft 支持人员。此令牌将于 2024/2/5 或之前到期。
# ; 开始身份验证令牌
# //tfs.teld.cn/tfs/DCCS/_packaging/npm-teld/npm/registry/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6InhkekltVXV5NXlMRV9JWUhxSkpRTktYelg4QSJ9.eyJuYW1laWQiOiI5MWRlZDkzMi1jZjYwLTQ0OTUtYTE5NS02NjA4MGM3NjVjZTYiLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiNTRjNTI5YzItZjdiZi00NTA1LThjMjItMWY5MGE3OWQ3YWJlIiwic2lkIjoiMGM0YmI1MjItNWIxNS00OWU3LWIxYjctZTQ1MWZmZmE2MzE3IiwiaXNzIjoiZTQyZGU1YWUtYzI5OC00M2MxLTg3YTEtOTM0ZDQ4ZmNlNWI1IiwiYXVkIjoiZTQyZGU1YWUtYzI5OC00M2MxLTg3YTEtOTM0ZDQ4ZmNlNWI1IiwibmJmIjoxNjk5MzUyMzQwLCJleHAiOjE3MDcxMjgzNDB9.fe9COnpogI-3UnxUgOnX1JFHEdYxq7DpsMMD5Jhq6xobqLs1rQOE_bve9-7WBW_utvNtqBJV1DwGO96mDO4X67tlFh6_-TNv-r3oDLKy-ZEG5XZmMVxMvpV7tHKc1YzgoM0I8DU1XAM7-niSBEq0f-wMPmWkGblxx8g0yGVuPOrHV-VYneq1DM4C6bnc9b5IEvayII1ZU9f6GF-tRqU_M5r4lw46FRCbzkZDi3f_lMDf0kA0sYPmKMSoVVbLWlLMPF1SaObkMPz9mcLJpjY0t7cbAOhBSQJRWYUW38p1EbZmKv8lGWmTNp28hrgsGW6xfHbt5O5kAj5vWYzSZ55doA
# //tfs.teld.cn/tfs/DCCS/_packaging/npm-teld/npm/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6InhkekltVXV5NXlMRV9JWUhxSkpRTktYelg4QSJ9.eyJuYW1laWQiOiI5MWRlZDkzMi1jZjYwLTQ0OTUtYTE5NS02NjA4MGM3NjVjZTYiLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiNTRjNTI5YzItZjdiZi00NTA1LThjMjItMWY5MGE3OWQ3YWJlIiwic2lkIjoiMGM0YmI1MjItNWIxNS00OWU3LWIxYjctZTQ1MWZmZmE2MzE3IiwiaXNzIjoiZTQyZGU1YWUtYzI5OC00M2MxLTg3YTEtOTM0ZDQ4ZmNlNWI1IiwiYXVkIjoiZTQyZGU1YWUtYzI5OC00M2MxLTg3YTEtOTM0ZDQ4ZmNlNWI1IiwibmJmIjoxNjk5MzUyMzQwLCJleHAiOjE3MDcxMjgzNDB9.fe9COnpogI-3UnxUgOnX1JFHEdYxq7DpsMMD5Jhq6xobqLs1rQOE_bve9-7WBW_utvNtqBJV1DwGO96mDO4X67tlFh6_-TNv-r3oDLKy-ZEG5XZmMVxMvpV7tHKc1YzgoM0I8DU1XAM7-niSBEq0f-wMPmWkGblxx8g0yGVuPOrHV-VYneq1DM4C6bnc9b5IEvayII1ZU9f6GF-tRqU_M5r4lw46FRCbzkZDi3f_lMDf0kA0sYPmKMSoVVbLWlLMPF1SaObkMPz9mcLJpjY0t7cbAOhBSQJRWYUW38p1EbZmKv8lGWmTNp28hrgsGW6xfHbt5O5kAj5vWYzSZ55doA
# ; 结束身份验证令牌